@media screen and (min-width: 576px){
    .sidebar{
    flex-basis: 200px; 
    }

    main{
        width: calc(100% - 200px); 
    }

    .logo-desktop{
        display: block;
        padding: 15px 15px;
    }

    .logo-mobile{
        display: none;
    }

    .banner-desktop{
        display: inline;
    }

    .banner-mobile{
        width: 30%;
    }

    .container-playlist{
        display: block;
    }

    .playlist{
        display: block;
    }

    .title-author{
       display: inline;
       font-size: 10px;
    }

}


@media screen and (min-width: 768px){
    p{
        font-size: 12px;
    }

    .col{
       max-width: 150px;
    }
   
}

@media screen and (min-width: 992px){
    .col{
    max-width: 200px;
    padding: 15px;
    flex-basis:  calc(100% /6);
    }
   
    p{
        font-size: 10px;
    }

    .playlist-title{
        font-size: 17px;
    }

    .row{
        padding-top: 10px;
    }
}


