@media screen and (min-width: 576px){
    .sidebar{
    flex-basis: 200px;
        
    }

    main{
        width: calc(100% - 200px); 
    }

    .logo-desktop{
        display: block;
        padding: 15px 15px;
    }

    .logo-mobile{
        display: none;
    }

    .banner-desktop{
        display: inline;
    }

    .banner-mobile{
        width: 30%;
    }

    .container-playlist{
        display: block;
    }
    .playlist{
        display: block;
    }
}





@media screen and (min-width: 768px){
   
}

@media screen and (min-width: 992px){
   
}


