@media screen and (min-width: 576px){
    .sidebar{
        width: 200px;
    }

    main{
        width: calc(100% - 200px); 
    }

    .logo{
        display: block;
    }

    .logo-small{
        display: none;
    }
}




@media screen and (min-width: 768px){
   
}

@media screen and (min-width: 992px){
   
}


