/*CSS Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Generics*/
*{
    font-family: 'Montserrat', sans-serif;
}

/*Utils*/

body{
    min-width: 575px;
    color: white;
}

.container{
    display: flex;
}

img{
    width: 100%;
}

/*SIDEBAR*/
.sidebar{
    width: 10%;
    background-color: #000000;
    z-index: 1;
    overflow: auto;
}

.card{
    display: flex;
    flex-direction: row;
}

/*logo*/
.logo-desktop{
    display: none;
    padding: 5px 10px;
}

.logo-mobile{
    padding: 5px 15px;
}

/*banners*/
.banner-desktop{
    display: none;
    align-self: center;
}

.banner-mobile{
    padding: 5px 18px;
}






/*MAIN*/
main{
    width: 90%;
    background-color: #141921;
    height: calc(100vh - 80px);
    overflow: auto;
    padding-top: 90px;
}

/*HEADER*/
header{
    height: 80px;
    width: 100%;
    background-color: #080B13;
    position: fixed;
    top: 0;
    right: 0;
    overflow: auto;

}

/*FOOTER*/
footer{
    height: 80px;
    border: 2px solid lightblue;
    background-color: lightblue;
    overflow: auto;



}




