/*CSS Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Generics*/
*{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 15px;
}

/*Utils*/
img{
    width: 100%;
}

.upper-space{
    padding-top: 10px;
}

.bottom-space{
    padding-bottom: 10px;
}

.btn{
    padding: 10px 25px;
    border: 1px solid white;
    border-radius: 30px;
    line-height: 80px;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

/*CONTAINER*/
.container-section{
    background-color: #141921;
    height: calc(100vh - 80px);
    overflow: auto;

    display: flex;
    flex-direction: row;
}

/*SIDEBAR*/
.sidebar{
    background-color: #000000;
    flex-basis: 50px;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card{
    display: flex;
    flex-direction: row;
}

/*logo*/
.logo-desktop{
    display: none;
    padding: 5px 10px;
}

.logo-mobile{
    padding: 5px 15px;
}

/*banners*/
.banner-desktop{
    display: none;
    align-self: center;
}

.banner-mobile{
    padding: 5px 18px;
}

/*playlist*/
.playlist{
    height: 150px;
    overflow: auto;
    line-height: 30px;
    display: none;
}

.plus-banner{
    color: black;
    background-color: grey;
    padding: 0px 10px;
    font-size: 35px;
}

.container-playlist{
    padding: 20px 15px;
    display: none;
}

/*user*/
.user-banner{
    margin: 10px 10px;
    background-color: #808080;
}

/*MAIN*/
main{
    flex-grow: 1;
    overflow: auto;
}

/*MAIN-HEADER*/
header{
    height: 80px;
    background-color: #080B13;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    overflow: auto;
    margin-bottom: 30px;

    text-align: right;
    padding-right: 15px;
}

/*MAIN-SECTION*/
.menu-bar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}


/*FOOTER*/
footer{
    height: 80px;
    background-color: lightblue;
    overflow: auto;
}




